
.buttonGroup .hideButtons{
  overflow:hidden;
  text-overflow:clip;
  height:34px;
}
.buttonGroup .display-none{
 display:none;
}
.buttonGroup .btn-group button{
  margin-right:5px;
  margin-bottom:2px;
}